
<form [formGroup]="form" class="mb-5 needs-validation" novalidate>

  <div class="container rounded bg-white mt-5 mb-5 p-3 py-5">

    <h2 class="text-center"><b>Pretraga radnih naloga</b></h2>
    <div class="row">

      <div class="col-md-4 offset-2">
        <label class="labels">Od datuma</label>
        <input [formControlName]="'dateFrom'" name="dateFrom" type="date" class="form-control" data-cy="dateFrom">
      </div>
      <div class="col-md-4">
        <label class="labels">Do datuma</label>
        <input [formControlName]="'dateTo'" type="date" class="form-control" data-cy="dateTo">
      </div>

      <div class="col-md-4 offset-2">
        <label class="labels">LBP</label>

        <input
        [formControlName]="'lbp'"
        [(ngModel)]="form.value.lbp"
        (input)="filterPatientLbp(form.value.lbp)"
        type="text"
        class="form-control"

        data-cy="lbp"
      />
          <div *ngIf="filteredPatients.length > 0" class="suggestions">
            <div
              *ngFor="let fPatient of filteredPatients"
              (click)="selectSuggestion(fPatient)"
              class="suggestion"
            >
              {{ fPatient.lbp }} - {{ fPatient.name }} {{ fPatient.surname }}
            </div>
          </div>
      </div>

      <div class="col-md-4">

        <label class="labels">Status obrade:</label>
        <select [formControlName]="'selectedStatus'" class="form-control">
          <option value="NEOBRADJEN">NEOBRADJEN</option>
          <option value="U_OBRADI">U_OBRADI</option>
          <option value="OBRADJEN">OBRADJEN</option>
        </select>

      </div>

      <div class="mt-4 text-center">
        <button (click)="getWorkOrders()" class="btn btn-primary" type="submit" data-toggle="collapse"
          data-target="#search-table" aria-expanded="false" aria-controls="search-table"
          data-cy="pretrazi">Pretrazi</button>
      </div>

      <div class="row py-5">
        <table class="table table-hover" data-cy="table">
          <thead>
            <tr>
              <th>ID radnog naloga</th>
              <th>Datum i vreme kreiranja</th>
              <th>LBP pacijenta</th>
              <th>Status obrade</th>
              <th>LBZ tehničara</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let workOrder of workOrdersList | paginate: {itemsPerPage: PAGE_SIZE, currentPage: page, totalItems: total}; let i = index"
              >
              <td>{{workOrder.id}}</td>
              <td>{{workOrder.creationDateTime |date:'dd-MM-Y'}}</td>
              <td>{{workOrder.lbp}}</td>
              <td>{{workOrder.status}}</td>
              <td>{{workOrder.technicianLbz}}</td>
              <td *ngIf="workOrder.status.toString() == 'OBRADJEN'">
                <button (click)="showDetails(workOrder)" class="btn btn-primary" type="submit"
                        data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table"
                        data-cy="sacuvaj">Prikazi</button>
              </td>
            </tr>
          </tbody>

        </table>

        <div class="d-flex align-items-center justify-content-center h-100">
          <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>

      </div>
    </div>
  </div>
</form>
