<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="/path/to/bootstrap.min.css">
  <script src="/path/to/jquery.min.js"></script>
  <script src="/path/to/bootstrap.bundle.min.js"></script>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<div class="container rounded bg-white mt-5 mb-5 p-3 py-5">
  <div class="row">
      <div class="col-md-4 offset-2">
        <label class="labels">Ime</label>
          <input type="text" class="form-control" data-cy = "ime">
      </div>
      <div class="col-md-4">
        <label class="labels">Prezime</label>
          <input type="text" class="form-control" data-cy = "prezime">
      </div>
      <div class="col-md-4 offset-2">
        <label class="labels">JMBG</label>
          <input type="text" class="form-control" data-cy = "jmbg">
      </div>
      <div class="col-md-4">
        <label class="labels">LBO</label>
          <input type="text" class="form-control" data-cy = "lbo">
      </div>

      <div class="mt-4 text-center">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table" data-cy="pretrazi">Pretrazi</button>
      </div>

  <div class="row py-5">          
      <table class="table table-hover" data-cy="table">
          <thead>
              <tr>
                  <th>Ime</th>						
                  <th>Prezime</th>
                  <th>Datum rodjenja</th>
                  <th>JMBG</th>
                  <th>LBO</th>
                  <th>Broj telefona</th>
                  <th>Akcija</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Martin Sommer</td>
                  <td>Sommer</td>                        
                  <td>12/08/2017</td>
                  <td>1712366854236</td>
                  <td>6214925</td>
                  <td>+381639485729</td>
                  <td>
                      <a href="#" class="settings" title="Podesavanja" data-toggle="tooltip"><i class="bi bi-gear-fill"></i></a>
                  </td>
              </tr>
              <tr>
                <td>Martin Sommer</td>
                <td>Sommer</td>                        
                <td>12/08/2017</td>
                <td>1712366854236</td>
                <td>6214925</td>
                <td>+381639485729</td>
                <td>
                    <a href="#" class="settings" title="Podesavanja" data-toggle="tooltip"><i class="bi bi-gear-fill"></i></a>
                </td>
              </tr>
              <tr>
                <td>Martin Sommer</td>
                <td>Sommer</td>                        
                <td>12/08/2017</td>
                <td>1712366854236</td>
                <td>6214925</td>
                <td>+381639485729</td>
                <td>
                    <a href="#" class="settings" title="Podesavanja" data-toggle="tooltip"><i class="bi bi-gear-fill"></i></a>
                </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>