<!DOCTYPE html>
<html xmlns:width="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

</head>

<body>
<div class="container">
<!--  izmena-->
  <form [formGroup]="addReport"  class="mb-5 needs-validation" novalidate>
  <div class="table-responsive">
    <div class="table-wrapper">

      <table class="table">
        <tr>
          <td><label class="activite-label">Pacijent</label></td>
        </tr>
<!--        <tr>-->
<!--          <td><textarea class="bi-textarea">Ime</textarea></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td><textarea class="bi-textarea">Prezime</textarea></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td><textarea class="bi-textarea">Datum rodjenja</textarea></td>-->
<!--        </tr>-->
        <tr>
          <td><textarea class="bi-textarea" >Alergije</textarea></td>
        </tr>
        <tr>
          <td><textarea class="bi-textarea">Vakcine</textarea></td>
        </tr>
      </table>
<!--- Za dugmice treba dodati logiku otvaranja zasebnih stranica
-->
      <div class="button-container">
        <button class="btn btn-outline-primary" >Pregled</button>
        <button class="btn btn-outline-primary" (click)="goToMedicalRecord()">Karton</button>
      </div>


      <div style="padding-top: 20px">
        <p class="p-0">Izvestaj</p>
      </div>

      <table>
        <tr>
          <td><label class="label">Anamneza</label></td>
        </tr>
        <tr>
          <td><textarea class="bi-textarea" placeholder="Tegobe" [formControlName]="'mainProblems'">Tegobe</textarea></td>
        </tr>
<!--        <div class="col-md-12"><label class="labels"></label><input type="text" name="mainProblems"-->
<!--                                                                    class="form-control" placeholder="Tegobe" value="" required [formControlName]="'mainProblems'">-->
<!--          <div class="invalid-feedback">Unesite tegobe pacijenta</div>-->
<!--        </div>-->
        <tr>
          <td><textarea class="bi-textarea" placeholder="Bolest" [formControlName]="'currDisease'">Bolest</textarea></td>
        </tr>
<!--        <div class="col-md-12"><label class="labels"></label><input type="text" name="currDisease"-->
<!--                                                                    class="form-control" placeholder="Bolest" value="" required [formControlName]="'currDisease'">-->
<!--          <div class="invalid-feedback">Unesite trenutnu bolest</div>-->
<!--        </div>-->
        <tr>
          <td><textarea class="bi-textarea" placeholder="Licna anamneza" [formControlName]="'personalAnamnesis'">Licna amneza</textarea></td>
        </tr>
<!--        <div class="col-md-12"><label class="labels"></label><input type="text" name="personalAnamnesis"-->
<!--                                                                    class="form-control" placeholder="Licna anamneza" value="" required [formControlName]="'personalAnamnesis'">-->
<!--          <div class="invalid-feedback">Unesite anamnezu pacijenta</div>-->
<!--        </div>-->
        <tr>
          <td><textarea class="bi-textarea" placeholder="Porodicna anamneza" [formControlName]="'familyAnamnesis'">Porodicna anamneza</textarea></td>
        </tr>
<!--        <div class="col-md-12"><label class="labels"></label><input type="text" name="familyAnamnesis"-->
<!--                                                                    class="form-control" placeholder="Porodicna anamneza" value="" required [formControlName]="'familyAnamnesis'">-->
<!--          <div class="invalid-feedback">Unesite porodicnu anamnezu</div>-->
<!--        </div>-->
        <tr>
          <td><textarea class="bi-textarea" placeholder="Misljenje pacijenta" [formControlName]="'patientOpinion'">Misljenje pacijenta</textarea></td>
        </tr>
<!--        <div class="col-md-12"><label class="labels"></label><input type="text" name="patientOpinion"-->
<!--                                                                    class="form-control" placeholder="Misljenje pacijenta" value="" required [formControlName]="'phoneNumber'">-->
<!--          <div class="invalid-feedback">Unesite misljenje pacijenta</div>-->
<!--        </div>-->
      </table>

      <table>
        <tr>
          <td><label class="label" for="dijagnoza">Dijagnoza</label></td>
        </tr>
        <tr>
          <td><textarea class="bi-textarea" placeholder="Objektivni nalaz" [formControlName]="'objectiveFinding'" required id="dijagnoza" name="dijagnoza" required >Objektivni nalaz</textarea>
        </tr>
      </table>

      <div>
        <button class="btn btn-outline-primary" (click)="showElements()" >Dodati dijagnozu</button>
      </div>
<!--- Treba da se namesti da je list-container vidljiv tek nakon kliktaja na dugme
-->
      <div *ngIf="show" class="list-container">
        <div class="dropdown">
          <select [formControlName]="'selectedCode'">
            <option value="" disabled selected>Sifra</option>
            <option value="A15.3">A15.3</option>
            <option value="D50">D50</option>
            <option value="I10">I10</option>
            <option value="I35.0">I35.0</option>
            <option value="J11">J11</option>
            <option value="J12.9">J12.9</option>
            <option value="K35">K35</option>
            <option value="K70.3">K70.3</option>
            <option value="K71.0">K71.0</option>
            <option value="N20.0">N20.0</option>
          </select>
        </div>
        <div *ngIf="show" class="dropdown">
          <select [formControlName]="'treatmentResult'">
            <option value="" selected>U toku</option>
            <option value="Oporavljen">Oporavljen</option>
            <option value="Preminuo">Preminuo</option>
            <option value="Stalne posledice">Stalne posledice</option>
          </select>
        </div>
        <textarea *ngIf="show" class="bi-textarea" placeholder="Opis tekuceg stanja" [formControlName]="'currStateDesc'" ></textarea>
        <div *ngIf="show" class="checkbox">
          <input type="checkbox" id="checkbox" name="checkbox" [formControlName]="'exists'">
          <label for="checkbox">Checkbox</label>
        </div>

      </div>

      <table>
        <tr>
          <td><label class="label">Terapija</label></td>
        </tr>
        <tr>
          <td><textarea class="bi-textarea" placeholder="Predlagane terapije" [formControlName]="'suggestedTherapies'">Predlagane</textarea></td>
        </tr>
<!--        <div class="col-md-12"><label class="labels"></label><input type="text" name="suggestedTherapies"-->
<!--                                                                    class="form-control" placeholder="Predlagane terapije" value="" required [formControlName]="'suggestedTherapies'">-->
<!--          <div class="invalid-feedback">Unesite predlagane terapije</div>-->
<!--        </div>-->
        <tr>
          <td><textarea class="bi-textarea" placeholder="Savet" [formControlName]="'advice'">Savet</textarea></td>
        </tr>

<!--        <div class="col-md-12"><label class="labels"></label><input type="textarea" name="advice"-->
<!--                                                                    class="form-control" placeholder="Savet" value="" required [formControlName]="'advice'">-->
<!--          <div class="invalid-feedback">Unesite savet</div>-->
<!--        </div>-->
      </table>
      <div class="checkbox">
        <input type="checkbox" id="confidential" name="checkbox" [formControlName]="'confidential'">
        <label for="checkbox">Poverljivo</label>
      </div>
      <div>
        <button class="btn btn-primary" (click)="showPopup($event)">Sacuvaj</button>
      </div>

      <div class="popup-overlay" *ngIf="isPopupVisible">
        <div class="popup">
          <p>Zelite da sacuvate izvestaj?</p>
          <div class="popup-buttons">
<!--            <button (click)="confirmSacuvaj();saveDiagnosis();saveTherapy()">OK</button>-->
<!--            <button (click)="provera() ; provera1()">OK</button>-->
                        <button (click)="saveTherapy()">OK</button>
            <button (click)="hidePopup()">Cancel</button>
          </div>
        </div>
      </div>


    </div>
  </div>
  </form>
</div>


</body>
</html>


