<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  
  <body>
    <div class="container">
      <div class="row pt-5 m-auto">
        <div class="col-md-6 col-lg-4 pb-3">
  
          <!-- Copy the content below until next comment -->
          <div class="card card-custom bg-white border-white border-0">
            <div class="card-custom-img" style="background-image: url(assets/image3.png);">
            </div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="assets/eelg.jpg" alt="Avatar" />
            </div>
            <div class="card-body" style="overflow-y: auto">
              <h4 class="card-title">Zakazi posetu</h4>
              <p class="card-text">Zakazi posetu za pacijenta.</p>
            </div>
            <div class="card-footer" style="background: inherit; border-color: inherit;">
              <a class="btn btn-primary" style="color: white" (click)="goToPoseta()">Kreni</a>
            </div>
          </div>
          <!-- Copy until here -->
  
        </div>
        <div class="col-md-6 col-lg-4 pb-3">
  
          <!-- Copy the content below until next comment -->
          <div class="card card-custom bg-white border-white border-0">
            <div class="card-custom-img" style="background-image: url(assets/image4.png);">
            </div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="assets/eelg.jpg" alt="Avatar" />
            </div>
            <div class="card-body" style="overflow-y: auto">
              <h4 class="card-title">Izdavanje rezultata</h4>
              <p class="card-text">Izdavanje rezultata za pacijente.</p>
            </div>
            <div class="card-footer" style="background: inherit; border-color: inherit;">
              <a (click)="goToIzdavanje()" style="color: white" class="btn btn-primary">Kreni</a>
            </div>
          </div>
          <!-- Copy until here -->
  
        </div>
        <div class="col-md-6 col-lg-4 pb-3">
  
          <!-- Copy the content below until next comment -->
          <div class="card card-custom bg-white border-white border-0">
            <div class="card-custom-img" style="background-image: url(assets/image2.png);">
            </div>
            <div class="card-custom-avatar">
              <img class="img-fluid" src="assets/eelg.jpg" alt="Avatar" />
            </div>
            <div class="card-body" style="overflow-y: auto">
              <h4 class="card-title">Prijem pacijenata</h4>
              <p class="card-text">Pogledaj sve pacijente koje ocekuju da budu primljeni.</p>
            </div>
            <div class="card-footer" style="background: inherit; border-color: inherit;">
              <a (click)="goToPrijem()" style="color: white" class="btn btn-primary">Kreni</a>
            </div>
          </div>
          <!-- Copy until here -->
  
        </div>
      </div>
    </div>
  
  </body>