<div style="padding-top: 70px;">

  <div class="form-group">

    <div class="row mt-2 mb-4">
      <div class="col-md-4">
        <label for="doctor">Doktor</label>
        <select class="form-control" [(ngModel)]="doctor" id="doctor" name="doctor">
          <option value="doctor1">Doktor 1</option>
          <option value="doctor2">Doktor 2</option>
          <option value="doctor3">Doktor 3</option>
          <option value="doctor4">Doktor 4</option>
        </select>
      </div>
    </div>

  </div>

  <ejs-schedule #scheduleObj [eventSettings]="eventSettings" (popupOpen)="onPopupOpen($event)">
    <ng-template #editorTemplate>
      <div class="custom-event-editor">

        <div class="card basic">
          <div class="card-body">
            <div class="container">
              <div class="form-group">

                <div class="row justify-content-center mt-1 mt-1">

                  <div class="col-md-6 ">
                <label for="reason">Razlog pregleda</label>
                <select class="form-control" [(ngModel)]="reason" id="reason" name="reason">
                  <option value="Pregled">Pregled</option>
                  <option value="Kontrola">Kontrola</option>
                  <option value="Operacija">Operacija</option>
                  <option value="Vizita">Vizita</option>
                </select>

                  </div>
                </div>
              </div>

            </div></div></div>

        <div class="card basic">
          <div class="card-body">
            <div class="container">
        <div class="form-group">

          <div class="form-group">

            <div class="row justify-content-center mt-1 mt-1">

              <div class="col-md-6">
          <label for="patient">Pacijent</label>
          <select class="form-control" [(ngModel)]="patient" name="patient" id="patient">
            <option value="Pacijent1">Pacijent1</option>
            <option value="Pacijent1">Pacijent1</option>
            <option value="Pacijent1">Pacijent1</option>
            <option value="Pacijent1">Pacijent1</option>
          </select>

              </div></div></div>
        </div>
            </div></div></div>

              <div class="card basic">
                <div class="card-body">
                  <div class="container">
                    <div class="form-group">
                      <div class="row justify-content-center mt-1 mt-1">
                      <div class="col-md-6">
                        <label>Datum pregleda</label>
                        <ejs-datetimepicker name="selectedDateTime"  [(ngModel)]="selectedDateTime" ></ejs-datetimepicker>
                      </div>
                      </div>
                    </div>
                  </div></div></div>

        <div class="row justify-content-center">
          <div class="col-md-4 d-flex justify-content-center">
            <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
          </div>
        </div>

      </div>



    </ng-template>



  </ejs-schedule>
</div>
<!---
<ejs-schedule height="700" width="1200" [currentView]="setView"></ejs-schedule>
-->
