<h1>NOVO EMA</h1>

<form [formGroup]="form" class="mb-5 needs-validation" novalidate>

  <div class="container rounded bg-white mt-5 mb-5 p-3 py-5">

    <h2 class="text-center"><b>Pretraga statistike</b></h2>
    <div class="row">

      <div class="col-md-4 offset-2">
        <label class="labels">Od datuma</label>
        <input [formControlName]="'from'" name="dateFrom" type="date" class="form-control" data-cy="dateFrom">
      </div>
      <div class="col-md-4">
        <label class="labels">Do datuma</label>
        <input [formControlName]="'to'" type="date" class="form-control" data-cy="dateTo">
      </div>

      <div class="col-md-4 offset-2">
        <label class="labels">Pol</label>
        <select [formControlName]="'gender'" class="form-control" data-cy="pol">
          <option value="SVI">Svi</option>
          <option value="MUSKI">MUSKI</option>
          <option value="ZENSKI">ZENSKI</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="labels">Starost</label>
        <select [formControlName]="'ageCategory'" class="form-control" data-cy="godine">
          <option value="0">Svi</option>
          <option value="1">Do 20 godina</option>
          <option value="2">Od 20 do 65 godina</option>
          <option value="3">Preko 65 godina</option>
        </select>
      </div>



      <div class="mt-4 text-center">
        <button (click)="getCovidStats()" class="btn btn-primary" type="submit" data-toggle="collapse"
                data-target="#search-table" aria-expanded="false" aria-controls="search-table"
                data-cy="btnPretrazi">Pretrazi</button>
      </div>

      <div class="row py-5">
        <table class="table table-hover" data-cy="table">
          <thead>
          <tr>
            <th>Datum</th>
            <th>Pozitivni</th>
            <th>Negativni</th>
            <th>Hospitalizovani</th>
            <th>Respirator</th>
            <th>Umrli</th>
            <th>Detalji</th>
          </tr>
          </thead>

          <tbody>

          <tr
            *ngFor="let stat of statsList | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: total}; let i = index"
          >
            <td>{{stat.date|date:'dd-MM-Y'}}</td>
            <td>{{stat.positive}}</td>
            <td>{{stat.negative}}</td>
            <td>{{stat.hospitalized}}</td>
            <td>{{stat.ventilator}}</td>
            <td>{{stat.dead}}</td>

            <td>
              <button (click)="navigateToDetails(stat)" class="btn btn-primary" type="submit"
                      data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table"
                      data-cy="btnOtkazi">Detalji</button>
            </td>

          </tr>
          </tbody>

        </table>

        <div class="d-flex align-items-center justify-content-center h-100">
          <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>

      </div>
    </div>
  </div>
</form>


<div class="container rounded bg-white mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8 border-right">
      <div class="p-3 py-5">

        <div class="text-center mb-3">
          <h2>Rezultati pretrage</h2>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>Pozitivni: {{positive }}</p>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-md-12">
            <p>Negativni: {{negative}}</p>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-md-12">
            <p>Hospitalizovani: {{hospitalized}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>Ventilator: {{ventilator}}</p>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-md-12">
            <p>Umrli: {{dead}} </p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <p>Vakcinisani: {{vaccinated}}</p>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-md-12">
            <p>Izleceni: {{healed}} </p>
          </div>
        </div>

        <div class="charts-container">
          <h2>Grafovski prikaz</h2>
          <h4>Sva statistika - podaci</h4>
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>
          <h4>Odnos pozitivnih i negativnih pacijenata</h4>
          <ngx-charts-pie-chart
            [results]="testedPieChartData"
            [legend]="showLegend"
            [scheme]="colorScheme"
            [view]="pieChartDimensions"> >
          </ngx-charts-pie-chart>
          <h4>Hospitalizovani, izleceni, na respiratoru, umrli</h4>
          <ngx-charts-bar-horizontal
            [view]="view"
            [scheme]="colorScheme"
            [results]="barChartSingle"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
          >
          </ngx-charts-bar-horizontal>


          <ngx-charts-pie-chart
            [results]="[
              {
                name: 'Vakcinisani pacijenti',
                value: vaccinated
              },
              {
                name: 'Izlečeni pacijenti',
                value: healed
              }
            ]"
            [legend]="showLegend"
            [scheme]="colorScheme"
            [view]="pieChartDimensions"
          >
          </ngx-charts-pie-chart>


          <!-- Tree Map - Case Categories -->
          <h4>Studije slucaja</h4>
          <ngx-charts-tree-map
            [view]="view"
            [scheme]="colorScheme"
            [results]="caseCategoriesData"
            [gradient]="gradient"
          >
          </ngx-charts-tree-map>

<!--          &lt;!&ndash; Stacked Bar Chart - Cumulative Data Over Time &ndash;&gt;-->
<!--          <h4>Cumulative Data Over Time (Stacked Bar Chart)</h4>-->
<!--          <ngx-charts-bar-vertical-stacked-->
<!--            [view]="view"-->
<!--            [scheme]="colorScheme"-->
<!--            [results]="cumulativeData"-->
<!--            [gradient]="gradient"-->
<!--            [xAxis]="showXAxis"-->
<!--            [yAxis]="showYAxis"-->
<!--            [showXAxisLabel]="showXAxisLabel"-->
<!--            [showYAxisLabel]="showYAxisLabel"-->
<!--            [xAxisLabel]="xAxisLabel"-->
<!--            [yAxisLabel]="yAxisLabel"-->
<!--            [legend]="showLegend"-->
<!--          >-->
<!--            <ng-container *ngFor="let data of cumulativeData" ngx-tooltip>-->
<!--              <ng-template let-model="model" let-index="index" ngx-tooltip>-->
<!--                <div class="custom-tooltip">-->
<!--                  {{ data.name | date: 'dd-MM-Y' }}-->
<!--                  <div *ngFor="let d of model">-->
<!--                    <div>{{ d.name }}: {{ d.value.toLocaleString() }}</div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </ng-container>-->
<!--          </ngx-charts-bar-vertical-stacked>-->

<!--          &lt;!&ndash; Area Chart - Cumulative Data Over Time &ndash;&gt;-->
<!--          <h4>Cumulative Data Over Time (Area Chart)</h4>-->
<!--          <ngx-charts-area-chart-->
<!--            [view]="view"-->
<!--            [scheme]="colorScheme"-->
<!--            [results]="cumulativeData"-->
<!--            [gradient]="gradient"-->
<!--            [xAxis]="showXAxis"-->
<!--            [yAxis]="showYAxis"-->
<!--            [showXAxisLabel]="showXAxisLabel"-->
<!--            [showYAxisLabel]="showYAxisLabel"-->
<!--            [xAxisLabel]="xAxisLabel"-->
<!--            [yAxisLabel]="yAxisLabel"-->
<!--            [legend]="showLegend"-->
<!--          >-->
<!--            <ng-container *ngFor="let data of cumulativeData" ngx-tooltip>-->
<!--              <ng-template let-model="model" let-index="index" ngx-tooltip>-->
<!--                <div class="custom-tooltip">-->
<!--                  {{ data.name | date: 'dd-MM-Y' }}-->
<!--                  <div *ngFor="let d of model">-->
<!--                    <div>{{ d.name }}: {{ d.value.toLocaleString() }}</div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </ng-template>-->
<!--            </ng-container>-->
<!--          </ngx-charts-area-chart>-->

<!--          &lt;!&ndash; Line Chart - Case Rate Over Time &ndash;&gt;-->
<!--          <h4>Case Rate Over Time (Line Chart)</h4>-->
<!--          <ngx-charts-line-chart-->
<!--            [view]="lineChartView"-->
<!--            [scheme]="lineChartColorScheme"-->
<!--            [results]="lineChartData"-->
<!--            [gradient]="false"-->
<!--            [xAxis]="true"-->
<!--            [yAxis]="true"-->
<!--            [legend]="lineChartLegend"-->
<!--            [xAxisLabel]="lineChartXAxisLabel"-->
<!--            [yAxisLabel]="lineChartYAxisLabel"-->
<!--          >-->
<!--          </ngx-charts-line-chart>-->






        </div>

      </div>
    </div>
  </div>
</div>

