<!DOCTYPE html>
<html>

<body>

    <div style="margin-top: 45px;" class="container">
        <h1>Statistika</h1>
        <h2>Dnevni izveštaj</h2>
    </div>


    <div class="container">

        <ul class="no-bullets">

            <li>
                <label>Broj testiranih:</label>
                <span>{{numberOfTestedPatients}}</span>
            </li>
            <li>
                <label>Broj hospitalizovanih:</label>
                <span>{{numberOfHospitalizedPatients}}</span>
            </li>
            <li>
                <label>Broj pozitivnih:</label>
                <span>{{numberOfPositivePatients}}</span>
            </li>
            <li>
                <label>Broj izlečenih:</label>
                <span>{{numberOfCuredPatients}}</span>
            </li>
            <li>
                <label>Broj na respiratoru:</label>
                <span>{{numberOfPatientsOnRespirator}}</span>
            </li>
            <li><label>Broj umrlih:</label>
                <span>{{numberOfDeadPatients}}</span>
            </li>

        </ul>

    </div>

</body>

</html>
