<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
</head>
<div class="container rounded bg-white mt-5 mb-5">
    <form [formGroup]="editGroup" (submit)="editEmployee()" class="mb-5  needs-validation" novalidate>
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                        class="font-weight-bold">{{userEdit.name}} {{userEdit.surname}}</span><span
                        class="text-black-50">{{userEdit.email}}</span><span>
                    </span>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="d-inline-block me-1">Aktivan</div> &nbsp;
                                <div class="form-check form-switch d-inline-block"> &nbsp;
                                    <input type="checkbox" [(ngModel)]="userEdit.deleted" [formControlName]="'deleted'"
                                        name="deleted" class="form-check-input" id="site_state"
                                        style="cursor: pointer;">

                                    <label for="site_state" class="form-check-label"> Obrisan</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Azuriranje podataka zaposlenog</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Ime</label><input type="text" name="ime" required
                                class="form-control" placeholder="" value="" [(ngModel)]="userEdit.name"
                                [formControlName]="'name'">
                            <div class="invalid-feedback">Unesite vase ime</div>
                        </div>
                        <div class="col-md-6"><label class="labels">Prezime</label><input type="text" name="prezime"
                                required class="form-control" value="" placeholder="" [(ngModel)]="userEdit.surname"
                                [formControlName]="'lastName'">
                            <div class="invalid-feedback">Unesite vase prezime</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label class="labels">Pol</label>

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="d-inline-block me-1">Musko</div> &nbsp;
                                    <div class="form-check form-switch d-inline-block"> &nbsp;
                                        <input type="checkbox" [(ngModel)]="userEdit.gender"
                                            [formControlName]="'gender'" name="gender" class="form-check-input"
                                            id="site_state2" style="cursor: pointer;">

                                        <label for="site_state" class="form-check-label"> Zensko</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="email" name="imejl"
                                class="form-control" placeholder="" value="" [(ngModel)]="userEdit.email" required
                                [formControlName]="'email'">
                            <div class="invalid-feedback">Unesite imejl</div>
                        </div>
                        <div class="col-md-12"><label class="labels">Username</label><input type="text"
                                name="korisnickoIme" class="form-control" placeholder="" value=""
                                [(ngModel)]="userEdit.username" required [formControlName]="'username'">
                            <div class="invalid-feedback">Unesite korisnicko ime</div>
                        </div>
                        <div class="col-md-12"><label class="labels">Password</label><input type="password"
                                name="lozinka" class="form-control" placeholder="" value=""
                                [(ngModel)]="userEdit.password" [formControlName]="'password'">
                            <div class="invalid-feedback">Unesite vasu lozinku</div>
                        </div>
                        <div class="col-md-12"><label class="labels">Broj telefona</label><input type="text"
                                name="brojTelefona" class="form-control" placeholder="" value="" required
                                [(ngModel)]="userEdit.phone" [formControlName]="'phoneNumber'">
                            <div class="invalid-feedback">Unesite vas broj telefona</div>
                        </div>
                        <div class="col-md-12"><label class="labels">JMBG</label><input type="text" class="form-control"
                                name="JMBG" placeholder="" value="" [(ngModel)]="userEdit.jmbg" required
                                [formControlName]="'JMBG'">
                            <div class="invalid-feedback">Unesite vas JMBG</div>
                        </div>
                        <div class="col-md-12"><label class="labels">Adresa</label><input type="text"
                                class="form-control" name="adresaStanovanja" placeholder="" value="" required
                                [(ngModel)]="userEdit.address" [formControlName]="'adress'">
                            <div class="invalid-feedback">Unesite vasu adresu stanovanja</div>
                        </div>
                        <div class="col-md-12"><label class="labels">Mesto</label><input type="text"
                                class="form-control" name="mestoStanovanja" placeholder="" value="" required
                                [(ngModel)]="userEdit.placeOfLiving" [formControlName]="'city'">
                            <div class="invalid-feedback">Unesite vase mesto stanovanja</div>
                        </div>
                        <div class="col-md-12"><label class="labels">
                                Datum rodjenja</label><input name="datumRodjenja" [(ngModel)]="userEdit.dateOfBirth" type="date"
                                required id="date" class="form-control" [formControlName]="'date'">
                            <div class="invalid-feedback">Unesite vas datum rodjenja</div>
                        </div>
                        <div class="col-md-12"><label class="labels">Titula</label>

                            <select class="form-select" name="titula" [(ngModel)]="userEdit.title" id="title"
                                aria-label="Default select example" [formControlName]="'title'">
                                <option value="PROF_DR_MED">Prof. dr. med</option>
                                <option value="DR_MED_SPEC">Dr med. spec.</option>
                                <option value="DR_SCI_ME">Dr sci. med.</option>
                                <option value="DIPL_FARM">Dipl. farm.</option>
                                <option value="MAG_FARM">Mag. farm.</option>
                                <option value="MR">Mr</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Odeljenje</label>
                            <select #departmentSelect name="odeljenje" [(ngModel)]="userEdit.department.name"
                                [formControlName]="'department'" id="{{userEdit.department.pbo}}" class="form-select"
                                aria-label="Default select example" (change)="onSelectionChange($event)">
                                <option *ngFor="let item of departments" [attr.data-id]="item.pbo" [value]="item.name">
                                    {{item.name}}</option>
                            </select>
                        </div>

                        <div class="col-md-6"><label class="labels">Zanimanje</label>
                            <select class="form-select" name="zanimanje" [(ngModel)]="userEdit.profession"
                                id="proffesion" aria-label="Default select example" [formControlName]="'profession'">
                                <option value="MED_SESTRA">Med. sestra</option>
                                <option value="SPEC_BIOHEMICAR">Spec. biohemicar</option>
                                <option value="SPEC_GASTROENTEROLOG">Spec. gastroenterolog</option>
                                <option value="SPEC_GINEKOLOG">Spec. ginekolog</option>
                                <option value="SPEC_ENDOKRINOLOG">Spec. endrokrinolog</option>
                                <option value="SPEC_KARDIOLOG">Spec. kardiolog</option>
                                <option value="SPEC_NEUROLOG">Spec. neurolog</option>
                                <option value="SPEC_NEFROLOG">Spec. nefrolog</option>
                                <option value="SPEC_PSIHIJATAR">Spec. psihijatar</option>
                                <option value="SPEC_PULMOLOG">Spec. pulmolog</option>
                                <option value="SPEC_UROLOG">Spec. urolog</option>
                                <option value="SPEC_HEMATOLOG">Spec. hematolog</option>
                                <option value="SPEC_HIRURG">Spec. hirurg</option>
                            </select>
                            <div class="invalid-feedback">Izaberite vase zanimanje</div>
                        </div>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-save me-1"></i> Sacuvaj</button>
                    </div>
                    <div *ngIf="errorMessage.length != 0" class="mt-4 text-center">
                        <label style="color: red"> {{ errorMessage }} </label>
                    </div>
                    <div *ngIf="successMessage.length != 0" class="mt-4 text-center">
                        <label style="color: green"> {{ successMessage }} </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <h4>Privilegije</h4>
                    </div>
                    <div class="items-collection">
                        <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-12">
                            <div class="info-block block-info clearfix">
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">
                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox" name="ADMIN" autocomplete="off" value=""
                                                [(ngModel)]="userPermissionDisplayed.admin" [formControlName]="'ADMIN'">
                                            <span class="m-0 p-2">Admin</span>
                                        </div>
                                    </label>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">

                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox" name="DR_SPEC_ODELJENJA"
                                                [(ngModel)]="userPermissionDisplayed.dr_spec_odeljenja"
                                                id="drSpecOdeljenja" autocomplete="off" value=""
                                                [formControlName]="'DR_SPEC_ODELJENJA'">
                                            <span class="m-0 p-2">Doktor specijalista odeljenja</span>
                                        </div>
                                    </label>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">
                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox" name="DR_SPEC" autocomplete="off" value=""
                                                [(ngModel)]="userPermissionDisplayed.dr_spec"
                                                [formControlName]="'DR_SPEC'">
                                            <span class="m-0 p-2">Doktor specijalista</span>
                                        </div>
                                    </label>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">
                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox" name="DR_SPEC_POV" autocomplete="off" value=""
                                                [(ngModel)]="userPermissionDisplayed.dr_spec_pov"
                                                [formControlName]="'DR_SPEC_POV'">
                                            <span class="m-0 p-2">Doktor specijalista - poverljiv pristup</span>
                                        </div>
                                    </label>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">
                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox" name="VISA_MED_SESTRA" autocomplete="off" value=""
                                                [(ngModel)]="userPermissionDisplayed.visa_med_sestra"
                                                [formControlName]="'VISA_MED_SESTRA'">
                                            <span class="m-0 p-2">Visa medicinska sestra</span>
                                        </div>
                                    </label>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">
                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox" name="MED_SESTRA" autocomplete="off" value=""
                                                [(ngModel)]="userPermissionDisplayed.med_sestra"
                                                [formControlName]="'MED_SESTRA'">
                                            <span class="m-0 p-2">Medicinska sestra</span>
                                        </div>
                                    </label>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">
                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox"
                                                [(ngModel)]="userPermissionDisplayed.visi_lab_tehnicar"
                                                name="VISI_LABORATORIJSKI_TEHNICAR" id="visiLabTeh" autocomplete="off"
                                                value="" [formControlName]="'VISI_LAB_TEHNICAR'">
                                            <span class="m-0 p-2">Visi laboratorijski tehnicar</span>
                                        </div>
                                    </label>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">
                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox" [(ngModel)]="userPermissionDisplayed.lab_tehnicar"
                                                name="LABORATORIJSKI_TEHNICAR" id="labTeh" autocomplete="off" value=""
                                                [formControlName]="'LAB_TEHNICAR'">
                                            <span class="m-0 p-2">Laboratorijski tehnicar</span>
                                        </div>
                                    </label>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">
                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox" [(ngModel)]="userPermissionDisplayed.med_biohemicar"
                                                name="MEDICINSKI_BIOHEMICAR" id="medBiohemicar" autocomplete="off"
                                                value="" [formControlName]="'MED_BIOHEMICAR'">
                                            <span class="m-0 p-2">Medicinski biohemicar</span>
                                        </div>
                                    </label>
                                </div>
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-outline-primary col-12 m-2">
                                        <div class="itemcontent ms-auto text-start ps-2">
                                            <input type="checkbox"
                                                [(ngModel)]="userPermissionDisplayed.spec_med_biohemije"
                                                name="SPECIJALISTA_MEDICINSKE_BIOHEMIJE" id="specMedBio"
                                                autocomplete="off" value="" [formControlName]="'SPEC_MED_BIOHEMIJE'">
                                            <span class="m-0 p-2">Specijalista medicinske biohemije</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
