<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
</head>

<body class="{{toggleSb ? 'toggle-sidebar' : ''}}">
  <ng-template #snackBarTemplate let-message let-action="dismiss">
    <span>{{ message }}</span>
    <button mat-button (click)="action()">{{ action }}</button>
  </ng-template>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a routerLink="" class="logo d-flex align-items-center">
        <img src="assets/rlogo2.png" alt="">
        <span class="d-none d-lg-block">IBIS</span>
      </a>
      <i  *ngIf="isLogged()"class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
    </div><!-- End Logo -->

    <div  *ngIf="isLogged()" class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Pretraga" title="Unesite kljucne reci">
        <button type="submit" title="Pretrazi"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav *ngIf="isLogged()" class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li *ngIf="isLogged()" class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img
              src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
              alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{getFullName()}}</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{getFullName()}}</h6>
              <span *ngIf="admin" >Admin</span>
              <span *ngIf="doctorSpec || doctorSpecOdeljenja || doctorSpecPov" >Doktor</span>
              <span *ngIf="nurse || nurseVisa" >Med Sestra</span>
              <span *ngIf="biochemist || biochemistSpec" >Biohemicar</span>
              <span *ngIf="technician|| technicianVisi" >Tehnicar</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" routerLink="../profile">
                <i class="bi bi-person"></i>
                <span>Moj profil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" routerLink="../login" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Odjavi se</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  <aside *ngIf="isLogged()" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li *ngIf="admin" class="nav-item">
        <a class="nav-link collapsed" routerLink="">
          <i class="bi bi-house"></i>
          <span>Pocetna</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="../profile">
          <i class="bi bi-person"></i>
          <span>Profil</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li  *ngIf="admin" class="nav-item">
        <a class="nav-link collapsed" routerLink="../admin-search-employee">
          <i class="bi bi-search"></i>
          <span>Pretraga zaposlenih</span>
        </a>
      </li>


      <li *ngIf="admin" class="nav-item">
        <a class="nav-link collapsed" routerLink="../admin-add-employee">
          <i class="bi bi-journal-text"></i>
          <span>Dodaj zaposlenog</span>
        </a>
      </li>

      <li *ngIf="doctorSpec || doctorSpecOdeljenja || doctorSpecPov" class="nav-item">
        <a class="nav-link collapsed" routerLink="../doctor-workspace">
          <i class="bi bi-table"></i>
          <span>Zakazani termini</span>
        </a>
      </li>

      <li *ngIf="doctorSpec || doctorSpecOdeljenja || doctorSpecPov" class="nav-item">
        <a class="nav-link collapsed" routerLink="../doctor-search-patients">
          <i class="bi bi-search"></i>
          <span>Pretraga pacijenata</span>
        </a>
      </li>

      <li *ngIf="doctorSpec || doctorSpecOdeljenja || doctorSpecPov" class="nav-item">
        <a class="nav-link collapsed" routerLink="../doctor-patients-infirmary">
          <i class="bi bi-book"></i>
          <span>Stacionar</span>
        </a>
      </li>

<!--      <li *ngIf="doctorSpec || doctorSpecOdeljenja || doctorSpecPov" class="nav-item">-->
<!--        <a class="nav-link collapsed" routerLink="../doctor-create-referral">-->
<!--          <i class="bi bi-journal-text"></i>-->
<!--          <span>Kreiranje uputa</span>-->
<!--        </a>-->
<!--      </li>-->

      <li *ngIf="nurse || nurseVisa" class="nav-item">
        <a class="nav-link collapsed" routerLink="../nurse-workspace">
          <i class="bi bi-calendar-week"></i>
          <span>Zakazani pregledi</span>
        </a>
      </li>

      <li *ngIf="nurse || nurseVisa" class="nav-item">
        <a class="nav-link collapsed" routerLink="../nurse-schedule-appointment">
          <i class="bi bi-calendar-plus"></i>
          <span>Zakazivanje pregleda</span>
        </a>
      </li>


      <li *ngIf="nurse || nurseVisa" class="nav-item">
        <a class="nav-link collapsed" routerLink="../nurse-infirmary-schedule-admission">
          <i class="bi bi-file-earmark-medical"></i>
          <span>Zakazivanje prijema</span>
        </a>
      </li>

      <li *ngIf="nurse || nurseVisa" class="nav-item">
        <a class="nav-link collapsed" routerLink="../nurse-infirmary-patient-admission">
          <i class="bi bi-file-medical"></i>
          <span>Prijem na stacionar</span>
        </a>
      </li>

      <li *ngIf="nurse || nurseVisa" class="nav-item">
        <a class="nav-link collapsed" routerLink="../nurse-infirmary-workspace">
          <i class="bi bi-book"></i>
          <span>Pacijenti na odeljenju</span>
        </a>
      </li>

      <li *ngIf="nurse || nurseVisa" class="nav-item">
        <a class="nav-link collapsed" routerLink="../nurse-search-patients">
          <i class="bi bi-search"></i>
          <span>Pretraga pacijenata</span>
        </a>
      </li>

      <li *ngIf="nurse || nurseVisa" class="nav-item">
        <a class="nav-link collapsed" routerLink="../nurse-add-patient">
          <i class="bi bi-journal-text"></i>
          <span>Dodaj pacijenta</span>
        </a>
      </li>



<!--      <li *ngIf="nurse || nurseVisa" class="nav-item">-->
<!--        <a class="nav-link collapsed" routerLink="../nurse-schedule-appointment-new">-->
<!--          <i class="bi bi-calendar-plus"></i>-->
<!--          <span>Zakazivanje pregleda NOVO</span>-->
<!--        </a>-->
<!--      </li>-->

<!--      <li *ngIf="nurse || nurseVisa" class="nav-item">-->
<!--        <a class="nav-link collapsed" routerLink="../nurse-schedule-admission">-->
<!--          <i class="bi bi-calendar-plus-fill"></i>-->
<!--          <span>Zakazivanje prijema</span>-->
<!--        </a>-->
<!--      </li>-->


<!--      <li *ngIf="biochemist || biochemistSpec" class="nav-item">-->
<!--        <a class="nav-link collapsed" routerLink="../biochemist-workspace">-->
<!--          <i class="bi bi-journal-text"></i>-->
<!--          <span>NEBITNO!</span>-->
<!--        </a>-->
<!--      </li>-->


      <li *ngIf="biochemist || biochemistSpec" class="nav-item">
        <a class="nav-link collapsed" routerLink="../biochemist-daily">
          <i class="bi bi-journal-text"></i>
          <span>Dnevni radni nalog</span>
        </a>
      </li>


<!--      <li *ngIf="biochemist || biochemistSpec" class="nav-item">-->
<!--        <a class="nav-link collapsed" routerLink="../biochemist-details">-->
<!--          <i class="bi bi-journal-text"></i>-->
<!--          <span>DETALJI ANALIZA ?!</span>-->
<!--        </a>-->
<!--      </li>-->

      <li *ngIf="biochemist || biochemistSpec" class="nav-item">
        <a class="nav-link collapsed" routerLink="../biochemist-search">
          <i class="bi bi-search"></i>
          <span>Pretraga radnih naloga</span>
        </a>
      </li>

      <li *ngIf="technician|| technicianVisi" class="nav-item">
        <a class="nav-link collapsed" routerLink="../technician-workspace">
          <i class="bi bi-house"></i>
          <span>Pocetna</span>
        </a>
      </li>

      <li *ngIf="technician|| technicianVisi" class="nav-item">
        <a class="nav-link collapsed" routerLink="../technician-schedule-lab-examination">
          <i class="bi bi-calendar-plus"></i>
          <span>Zakazi posetu</span>
        </a>
      </li>

      <li *ngIf="technician|| technicianVisi" class="nav-item">
        <a class="nav-link collapsed" routerLink="../technician-issuing-results">
          <i class="bi bi-layout-text-window-reverse"></i>
          <span>Izdavanje rezultata</span>
        </a>
      </li>

      <li *ngIf="technician|| technicianVisi" class="nav-item">
        <a class="nav-link collapsed" routerLink="../technician-patient-admission">
          <i class="bi bi-ticket"></i>
          <span>Prijem pacijenata</span>
        </a>
      </li>


<!--      <li *ngIf="technician|| technicianVisi" class="nav-item">-->
<!--        <a class="nav-link collapsed" routerLink="../technician-issuing-results-details">-->
<!--          <i class="bi bi-layout-text-window-reverse"></i>-->
<!--          <span>Lab analiza detalji</span>-->
<!--        </a>-->
<!--      </li>-->



<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" routerLink="../doctor-workspace-one">-->
<!--          <i class="bi bi-prescription2"></i>-->
<!--          <span>Rad sa pacijentom</span>-->
<!--        </a>-->
<!--      </li>-->



    </ul>

  </aside>
  <div class="container pt-3">
    <router-outlet></router-outlet>
  </div>
</body>
