<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
</head>

<body class="{{toggleSb ? 'toggle-sidebar' : ''}}">
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a routerLink="" class="logo d-flex align-items-center">
        <img src="assets/rlogo2.png" alt="">
        <span class="d-none d-lg-block">IBIS</span>
      </a>
      <i  *ngIf="isLogged()"class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
    </div><!-- End Logo -->

    <div  *ngIf="isLogged()" class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Pretraga" title="Unesite kljucne reci">
        <button type="submit" title="Pretrazi"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav *ngIf="isLogged()" class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li *ngIf="isLogged()" class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img
              src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
              alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{getFullName()}}</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{getFullName()}}</h6>
              <span>Admin</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" routerLink="../profile">
                <i class="bi bi-person"></i>
                <span>Moj profil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" routerLink="../login" (click)="logout()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Odjavi se</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  <aside *ngIf="isLogged()" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="">
          <i class="bi bi-house"></i>
          <span>Pocetna</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="../profile">
          <i class="bi bi-person"></i>
          <span>Profil</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="../admin-search-employee">
          <i class="bi bi-search"></i>
          <span>Pretraga zaposlenih</span>
        </a>
      </li>


      <li *ngIf="canAddEmployee()" class="nav-item">
        <a class="nav-link collapsed" routerLink="../admin-add-employee">
          <i class="bi bi-journal-text"></i>
          <span>Dodaj zaposlenog</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="../doctor-workspace">
          <i class="bi bi-table"></i>
          <span>Zakazani termini</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="../nurse-workspace">
          <i class="bi bi-file-spreadsheet"></i>
          <span>Zakazani pacijenti</span>
        </a>
      </li>
    </ul>

  </aside>
  <div class="container pt-3">
    <router-outlet></router-outlet>
  </div>
</body>
