<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<div class="container rounded bg-white mt-5 mb-5">
  <form [formGroup]="form" class="mb-5 needs-validation" novalidate>
    <div class="row justify-content-center">
      <div class="col-md-8 border-right">
        <div class="p-3 py-5">

          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Zakazivanje prijema na stacionar</h4>
          </div>

<!--          <div class="row">-->
<!--            <div class="col-md-12"><label class="labels">Lbp</label>-->
<!--              <input type="text" name="lbp" class="form-control" data-cy="lbp" [formControlName]="'lbp'">-->
<!--            </div>-->
<!--          </div>-->


          <div class="col-md-4">
            <label class="labels">LBP</label>

            <input
              [formControlName]="'lbp'"
              [(ngModel)]="form.value.lbp"
              (input)="filterPatientLbp(form.value.lbp)"
              type="text"
              class="form-control"

              data-cy="lbp"
            />
            <div *ngIf="filteredPatients.length > 0" class="suggestions">
              <div
                *ngFor="let fPatient of filteredPatients"
                (click)="selectSuggestion(fPatient)"
                class="suggestion"
              >
                {{ fPatient.lbp }} - {{ fPatient.name }} {{ fPatient.surname }}
              </div>
            </div>
          </div>


          <div class="mt-4 ">
            <button (click)="getPrescription()" class="btn btn-primary" type="submit" data-toggle="collapse"
                    data-target="#search-table" aria-expanded="false" aria-controls="search-table"
                    data-cy="pretrazi">Pretraga uputa</button>
          </div>

          <div class="row py-5">
            <table class="table table-hover" data-cy="table">
              <thead>
              <tr>
                <th>ID</th>
                <th>Ime i prezime lekara</th>
                <th>Datum i vreme kreiranja</th>
                <th>Naziv odeljenja iz kog je upucen</th>
                <th>Uputna dijagnoza</th>
                <th>Akcija</th>
              </tr>
              </thead>


              <tbody>

              <tr
                *ngFor="let prescription of prescriptionList | paginate: {itemsPerPage: PAGE_SIZE, currentPage: page, totalItems: total}; let i = index"
              >
                <td>{{prescription.id}}</td>
                <td>{{prescription.doctorLbz}}</td>
                <td>{{prescription.creationDateTime|date:'dd-MM-Y'}}</td>
                <td>{{prescription.departmentFromId}}</td>
                <td>{{prescription.referralDiagnosis}}</td>

                <td >
                  <button (click)="choosePrescription(prescription)" class="btn btn-primary" type="submit"
                          data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table"
                          data-cy="sacuvaj">Odabir uputa</button>
                </td>

              </tr>
              </tbody>

            </table>

            <div class="d-flex align-items-center justify-content-center h-100">
              <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>

          </div>



          <div class="row mt-1">
            <div class="col-md-12" *ngIf="prescriptionBoolean">
              <p class="text-center"><b>Odabran uput: {{selectedPrescription.id}}</b></p>
            </div>
          </div>





          <div class="row mt-1">
            <div class="col-md-12"><label class="labels">Datum i vreme prijema</label>
              <input type="date" name="dateExamState" class="form-control" data-cy="dateExamState" required [formControlName]="'dateExamState'">
            </div>
          </div>

          <div class="row mt-1">
            <div class="col-md-12"><label class="labels">Napomena</label>
              <input type="text" name="note" class="form-control" data-cy="note" [formControlName]="'note'">
            </div>
          </div>


          <div class="mt-4 text-center">
            <button (click)="scheduleAppointment()" type="submit" class="btn btn-primary" data-cy="button"><i class="bi bi-save me-1"></i>Sačuvaj</button>
          </div>


        </div>
      </div>
    </div>
  </form>
</div>
