<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="/path/to/jquery.min.js"></script>
  <script src="/path/to/bootstrap.bundle.min.js"></script>

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<form [formGroup]="workOrdersForm" class="mb-5 needs-validation" novalidate>

  <div class="container rounded bg-white mt-5 mb-5 p-3 py-5">

    <h2 class="text-center"><b>Pregled dnevnih radnih naloga</b></h2>
    <div class="row">


      <div class="row py-5">
        <table class="table table-hover" data-cy="table">
          <thead>
          <tr>
            <th>ID radnog naloga</th>
            <th>LBP pacijenta</th>
            <th>Ime i prezime pacijenta</th>

          </tr>
          </thead>
          <tbody (click)="onRowClick(1)">

          <tr >
            <td>primer ID radnog naloga</td>
            <td>primer LBP pacijenta</td>
            <td>primer Ime i prezime pacijenta</td>
          </tr>
                    <ng-container
                      *ngFor="let workOrder of workOrderList | paginate: {itemsPerPage: PAGE_SIZE, currentPage: page, totalItems: total}; let i = index"  (click)="onRowClick(workOrder.id)">
                      <tr (click)="onRowClick(workOrder.id)">
                        <td>{{workOrder.id}}</td>
                        <td>{{workOrder.lbp}}</td>
<!--                        <td>{{workOrder.}} {{workOrder.surname}}</td>-->
                      </tr>

                    </ng-container>


          </tbody>
        </table>
        <div class="d-flex align-items-center justify-content-center h-100">
          <pagination-controls previousLabel="Pret" nextLabel="Sled" >
          </pagination-controls>
        </div>

      </div>
    </div>
  </div>
</form>
