<div class="card">
  <div style="margin-top: 25px;" class="card-body">
    <h5 class="card-title">Doctor medical chart</h5>

    <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
      <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab"
          data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home"
          aria-selected="true">Osnovni podaci</button>
      </li>
      <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab"
          data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile"
          aria-selected="false" tabindex="-1">Istorija pregleda</button>
      </li>
      <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100" id="contact-tab" data-bs-toggle="tab"
          data-bs-target="#bordered-justified-contact" type="button" role="tab" aria-controls="contact"
          aria-selected="false" tabindex="-1">Istorija bolesti</button>
      </li>
      <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100" id="history-tab" data-bs-toggle="tab"
                data-bs-target="#bordered-justified-history" type="button" role="tab" aria-controls="history"
                aria-selected="false" tabindex="-1">Istorija uputa</button>
      </li>
      <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100" id="historyLab-tab" data-bs-toggle="tab"
                data-bs-target="#bordered-justified-historyLab" type="button" role="tab" aria-controls="historyLab"
                aria-selected="false" tabindex="-1">Istorija labaratorijskih izveštaja</button>
      </li>
    </ul>
    <div class="tab-content pt-2" id="borderedTabJustifiedContent">
      <div class="tab-pane fade active show" id="bordered-justified-home" role="tabpanel" aria-labelledby="home-tab">

        <section class="section faq">
          <div class="row">
            <div class="col-lg-12">
              <form [formGroup]="generalForm" (submit)="saveGeneralMedical()" class="mb-5 needs-validation" novalidate>
              <div class="card basic">
                <div class="card-body">
                  <h5 class="card-title"></h5>

                 <div class="row mt-5 align-items-center">

                    <div class="col-md-3"><label  class="labels">Krvna grupa</label>
                      <select [(ngModel)]="generalMedical.bloodType" name = "bloodType" class="form-select" id="krvnaGrupa" required
                              aria-label="Default select example" [formControlName]="'bloodGroup'" data-cy = "bloodType">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="0">0</option>
                        <option value="AB">AB</option>


                      </select>
                    </div>

                    <div class="col-md-3"><label class="labels">Rh faktor</label>
                      <select [(ngModel)]="generalMedical.rh" name = "rh" class="form-select" id="rH" required
                              aria-label="Default select example" [formControlName]="'rhFactor'" data-cy = "rhFactor">
                        <option value="+">+</option>
                        <option value="-">-</option>

                      </select>
                    </div>

                    <div class="mt-4 text-center">

                      <button type="button" class="btn btn-primary" (click)="updateGeneral()"><i
                        class="bi bi-pencil-square me-1"></i> Izmeni</button>

                      <button type="submit" class="btn btn-primary ms-4" data-cy = "updateGeneral" ><i class="bi bi-save me-1"></i>Sacuvaj</button>

                    </div>
                  </div>

                </div>

              </div>
              </form>
            </div>

            <div class="col-lg-12">
              <form [formGroup]="allergyForm" (submit)="saveAllergy()" class="mb-5 needs-validation" novalidate>

              <div class="card basic">
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <h5 class="card-title">Alergije</h5>
                      <div class="col-md-6">
                        <h4>Lista alergija</h4>
                        <ul>
                          <li *ngFor="let item of allergiesList">{{item}}</li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h4>Dodaj novu alergiju</h4>
                          <div class="mb-3">
                            <label for="alergen" class="form-label">Izaberi alergen:</label>
                            <select class="form-select" name="profession"  id="alergen" required
                                    aria-label="Default select example" [formControlName]="'allergen'" data-cy = "allergen" >
                              <option value="mleko">Mleko</option>
                              <option value="jaja">Jaja</option>
                              <option value="orašasti plodovi">Orašasti plodovi</option>
                              <option value="plodovi mora">Plodovi mora</option>
                              <option value="pšenica">Pšenica</option>
                              <option value="soja">Soja</option>
                              <option value="riba">Riba</option>
                              <option value="penicilin">Penicilin</option>
                              <option value="cefalosporin">Cefalosporin</option>
                              <option value="tetraciklin">Tetraciklin</option>
                              <option value="karbamazepin">Krbamazepin</option>
                              <option value="ibuprofen">Ibuprofen</option>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-primary" data-cy = "addAllergen" >Dodaj alergiju</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>

            <div class="col-lg-12">
              <form [formGroup]="vaccineForm" (submit)="saveVaccine()" class="mb-5 needs-validation" novalidate>

              <div class="card basic">
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <h5 class="card-title">Vakcine</h5>
                      <div class="col-md-6">
                        <h4>Lista primljenih vakcina</h4>
                        <ul>
                          <li *ngFor="let item of vaccinationsList">{{item}}</li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <h4>Dodaj novu vakcinu</h4>
                          <div class="mb-3">
                            <label for="vakcina" class="form-label">Izaberi vakcinu:</label>
                            <select class="form-select" name="profession"  id="vakcina" required
                                    aria-label="Default select example" [formControlName]="'vaccine'" data-cy = "vaccine">
                              <option value="PRIORIX">PRIORIX </option>
                              <option value="HIBERIX">HIBERIX </option>
                              <option value="INFLUVAC">INFLUVAC </option>
                              <option value="SYNFLORIX">SYNFLORIX </option> <option value="PRIORIX">Vakcina 2</option>
                              <option value="BCGVAKCINA">BCG VAKCINA </option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="datum" class="form-label">Datum primanja:</label>
                            <input type="date" class="form-control" id="datum"[formControlName]="'dateOfReceiving'" >
                          </div>
                          <button type="submit" class="btn btn-primary" data-cy = "addVaccine" onclick="return confirm('Da li ste sigurni da želite da dodate novu vakcinu?')">Dodaj vakcinu</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
        </section>
      </div>
      <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="container rounded bg-white mt-0 mb-5 p-3 py-5">
          <form [formGroup]="examinationForm" (submit)="getExaminationHistoryChoose()" class="mb-5 needs-validation" novalidate>
          <div class="row">
            <div class="col-md-4 offset-2">
              <label class="labels">Od datuma</label>
              <input [(ngModel)]="dateFrom" name = "dateFrom" type="date" class="form-control" [ngModelOptions]="{standalone: true}" data-cy = "dateFrom" >
            </div>
            <div class="col-md-4">
              <label class="labels">Do datuma</label>
              <input [(ngModel)]="dateTo" name = "dateTo" type="date" class="form-control"[ngModelOptions]="{standalone: true}" data-cy = "dateTo">
            </div>
            <div class="col-md-4 offset-2">
              <label class="labels">Tačan datum</label>
              <input [(ngModel)]="correctDate" jmbg = "correctDate" type="date" class="form-control"[ngModelOptions]="{standalone: true}" data-cy = "correctDate" >
            </div>


            <div class="mt-4 text-center">
              <button class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table" data-cy="pretrazi">Pretrazi</button>
            </div>

          <div class="row py-5">
            <table class="table table-hover" data-cy="table1">
              <thead>
              <tr>
                <th>Datum pegleda</th>
                <th>Objektivni nalaz</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let examination of examinationHistories | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: total}; let i = index">
                <td>{{examination.examDate}}</td>
                <td>{{examination.objectiveFinding}}</td>
              </tr>

              </tbody>
            </table>
            <div class="d-flex align-items-center justify-content-center h-100">
              <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>
          </div>
        </div>
          </form>
      </div>
      </div>


      <div class="tab-pane fade" id="bordered-justified-contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="container rounded bg-white mt-0 mb-4 p-3 py-5">
          <div class="row">
            <form [formGroup]="medicalForm" (submit)="(getMedicalHistoryByDiagnosisCode())" class="mb-5 needs-validation" novalidate>

            <div class="col-md-4 offset-4">
              <label class="labels">Dijagnoza</label>
              <input [(ngModel)]="diagnosis" name = "diagnosis" type="text" class="form-control"[ngModelOptions]="{standalone: true}" data-cy = "diagnosis">
            </div>

            <div class="mt-4 text-center">
              <button class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table" data-cy="pretrazi2">Pretrazi</button>
            </div>

            <div class="row py-5">
              <table class="table table-hover" data-cy="table2">
                <thead>
                <tr>
                  <th>Dijagnoza</th>
                  <th>Datum početka bolesti</th>
                  <th>Datum završetka bolesti</th>
                  <th>Rezultat lečenja</th>
                  <th>Opis tekućeg stanja</th>
                </tr>
                </thead>
                <tbody>
                <tr
                  *ngFor="let medical of medicalHistories | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: total}; let i = index">
                  <td>{{medical.diagnosisCodeDto}}</td>
                  <td>{{medical.startDate}}</td>
                  <td>{{medical.endDate}}</td>
                  <td>{{medical.treatmentResult}}</td>
                  <td>{{medical.currStateDesc}}</td>
                </tr>

                </tbody>
              </table>
              <div class="d-flex align-items-center justify-content-center h-100">
                <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="bordered-justified-history" role="tabpanel" aria-labelledby="history-tab">
        <div class="container rounded bg-white mt-0 mb-5 p-3 py-5">
          <form [formGroup]="prescriptionForm" (submit)="getPrescriptions()" class="mb-5 needs-validation" novalidate>
            <div class="row">
              <div class="col-md-4 offset-2">
                <label class="labels">Od datuma</label>
                <input [(ngModel)]="dateFromPrescription" name = "dateFrom" type="date" class="form-control" [ngModelOptions]="{standalone: true}" data-cy = "dateFrom" >
              </div>
              <div class="col-md-4">
                <label class="labels">Do datuma</label>
                <input [(ngModel)]="dateToPrescription" name = "dateTo" type="date" class="form-control"[ngModelOptions]="{standalone: true}" data-cy = "dateTo">
              </div>

              <div class="mt-4 text-center">
                <button class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table" data-cy="pretrazi">Pretrazi</button>
              </div>

              <div class="row py-5">
                <table class="table table-hover" data-cy="table1">
                  <thead>
                  <tr>
                    <th>ID uputa</th>
                    <th>Tip uputa</th>
                    <th>Ime i prezime lekara</th>
                    <th>Datum kreiranja</th>
                    <th>Vreme kreiranja</th>
                    <th>Odakle je upucen</th>
                    <th>Gde je upucen/th>
                    <th>Status</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="let examination of examinationHistories | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: total}; let i = index">
                  </tr>
                  </tbody>
                </table>
                <div class="d-flex align-items-center justify-content-center h-100">

                  <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">
                  </pagination-controls>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="tab-pane fade" id="bordered-justified-historyLab" role="tabpanel" aria-labelledby="historyLab-tab">
        <div class="container rounded bg-white mt-0 mb-5 p-3 py-5">
          <form [formGroup]="labaratoryForm" (submit)="getLabaratory()" class="mb-5 needs-validation" novalidate>
            <div class="row">
              <div class="col-md-4 offset-2">
                <label class="labels">Od datuma</label>
                <input [(ngModel)]="dateFromLabaratory" name = "dateFrom" type="date" class="form-control" [ngModelOptions]="{standalone: true}" data-cy = "dateFrom" >
              </div>
              <div class="col-md-4">
                <label class="labels">Do datuma</label>
                <input [(ngModel)]="dateToLabaratory" name = "dateTo" type="date" class="form-control"[ngModelOptions]="{standalone: true}" data-cy = "dateTo">
              </div>

              <div class="mt-4 text-center">
                <button class="btn btn-primary" type="submit" data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table" data-cy="pretrazi">Pretrazi</button>
              </div>

              <div class="row py-5">
                <table class="table table-hover" data-cy="table1">
                  <thead>
                  <tr>
                    <th>ID radnog naloga</th>
                    <th>ID uputa</th>
                    <th>Datum kreiranja</th>
                    <th>Vreme kreiranja</th>
                    <th>Status</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    *ngFor="let examination of examinationHistories | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: total}; let i = index">
                  </tr>
                  </tbody>
                </table>
                <div class="d-flex align-items-center justify-content-center h-100">

                  <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">
                  </pagination-controls>
                </div>
              </div>
            </div>
          </form>        </div>
      </div>
</div>
  </div>
</div>
