.ng-select.custom ::ng-deep {
  border:1px solid rgba(0, 0, 0, 0.15);
  height: 38px;
  border-radius: 0.25rem;
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  font-family: sans-serif;
}
.ng-select.custom ::ng-deep .ng-option {
  padding: 0.5rem 0;
  border-bottom: 1px solid gray;
  background-color: white;
}

.list-item-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.suggestions {
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
}

.suggestion {
  cursor: pointer;
  padding: 10px;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

