
<form [formGroup]="form" (submit)="addHospitalization()" class="mb-5 needs-validation" novalidate>

  <div class="container rounded bg-white mt-5 mb-5 p-3 py-5">

    <h2 class="text-center"><b>Prijem pacijenta {{patientLbp}}</b></h2>
    <div class="row">

      <div class="col-md-4" *ngIf="!lbpBoolean">
        <label class="labels">LBP</label>

        <input
          [formControlName]="'lbp'"
          [(ngModel)]="form.value.lbp"
          (input)="filterPatientLbp(form.value.lbp)"
          type="text"
          class="form-control"

          data-cy="lbp"
        />
        <div *ngIf="filteredPatients.length > 0" class="suggestions">
          <div
            *ngFor="let fPatient of filteredPatients"
            (click)="selectSuggestion(fPatient)"
            class="suggestion"
          >
            {{ fPatient.lbp }} - {{ fPatient.name }} {{ fPatient.surname }}
          </div>
        </div>
      </div>


      <div class="mt-4 " *ngIf="!lbpBoolean">
        <button (click)="getPrescription()" class="btn btn-primary" type="submit" data-toggle="collapse"
                data-target="#search-table" aria-expanded="false" aria-controls="search-table"
                data-cy="pretrazi">Pretraga uputa</button>
      </div>

      <div class="row py-5">
        <table class="table table-hover" data-cy="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Ime i prezime lekara</th>
            <th>Datum i vreme kreiranja</th>
            <th>Naziv odeljenja iz kog je upucen</th>
            <th>Uputna dijagnoza</th>
            <th>Akcija</th>
          </tr>
          </thead>


          <tbody>

          <tr
            *ngFor="let prescription of prescriptionList | paginate: {itemsPerPage: PAGE_SIZE, currentPage: page, totalItems: total}; let i = index"
          >
            <td>{{prescription.id}}</td>
            <td>{{prescription.doctorLbz}}</td>
            <td>{{prescription.creationDateTime|date:'dd-MM-Y'}}</td>
            <td>{{prescription.departmentFromId}}</td>
            <td>{{prescription.referralDiagnosis}}</td>

            <td >
              <button (click)="choosePrescription(prescription)" class="btn btn-primary" type="submit"
                      data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table"
                      data-cy="sacuvaj">Odabir uputa</button>
            </td>

          </tr>
          </tbody>

        </table>

        <div class="d-flex align-items-center justify-content-center h-100">
          <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>

      </div>


      <div class="row py-5" *ngIf="prescriptionBoolean">
        <h3 class="text-center"><b>Odabir bolničke sobe</b></h3>

        <table class="table table-hover" data-cy="table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Broj sobe</th>
            <th>Naziv</th>
            <th>Kapacitet</th>
            <th>Zauzeto</th>
            <th>Opis</th>
            <th>Akcija</th>
          </tr>
          </thead>

          <tbody>

          <tr
            *ngFor="let room of roomsList | paginate: {itemsPerPage: PAGE_SIZE, currentPage: page, totalItems: total}; let i = index"
          >
            <td>{{room.id}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.name}}</td>
            <td>{{room.capacity}}</td>
            <td>{{room.occupancy}}</td>
            <td>{{room.description}}</td>

            <td *ngIf="room.occupancy < room.capacity">
              <button (click)="chooseRoom(room)" class="btn btn-primary" type="submit"
                      data-toggle="collapse" data-target="#search-table" aria-expanded="false" aria-controls="search-table"
                      data-cy="sacuvaj">Odabir sobe</button>
            </td>

          </tr>
          </tbody>

        </table>

        <div class="d-flex align-items-center justify-content-center h-100">
          <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>

      </div>

      <div class="col-md-4" *ngIf="roomBoolean">
        <p class="text-center"><b>Odabrana soba: {{selectedRoomNumber}}</b></p>
      </div>


<!--   by ems   <div class="row py-5" *ngIf="roomBoolean">-->
      <div class="row py-5" >

        <div class="col-md-4">
          <label for="doctor">Doktor</label>

          <ng-select class="custom" [formControlName]="selectedDoctor" [(ngModel)]="selectedDoctor" id="doctor" name="doctor" required [searchable]="true"
                      data-cy="doctorSelect">
            <ng-option *ngFor="let item of doctors" [value]="item.lbz">{{item.name}} {{item.surname}}</ng-option>
          </ng-select>
        </div>


        <div class="row">
          <div class="col-md-12"><label class="labels">Napomena</label>
            <input type="text" name="note" class="form-control" data-cy="note" [formControlName]="'note'">

          </div>
        </div>

        <div class="mt-4 text-center">
          <button type="submit" class="btn btn-primary" data-cy="button"><i class="bi bi-save me-1"></i>Sačuvaj</button>
        </div>


      </div>


    </div>
  </div>
</form>
