<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<div class="container rounded bg-white mt-5 mb-5">
  <form (submit)="addEmployee()" class="mb-5 needs-validation" novalidate>
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Dr.Paun</span><span class="text-black-50">drpaun@gmail.com</span><span> </span></div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profil</h4>

        </div>


        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Ime</label>
            <input name="ime" type="text" name = "ime" class="form-control" placeholder="" value="" required [(ngModel)]="ime"><div class="invalid-feedback">Ime je obavezno!</div>
            <div class="invalid-feedback">Unesite vase ime</div>
          </div>
          <div class="col-md-6"><label class="labels">Prezime</label><input type="text" name ="prezime" class="form-control" value="" placeholder="" required [(ngModel)]="prezime">
            <div class="invalid-feedback">Unesite vase prezime</div>
          </div>
        </div>
        <div class="row mt-3">
          <label class="labels">Pol</label>

          <div class="container">
            <div class="row">
              <div class="col">
                <div class="d-inline-block me-1">Musko</div> &nbsp;
                <div class="form-check form-switch d-inline-block"> &nbsp;
                  <input type="checkbox" class="form-check-input" id="site_state" style="cursor: pointer;">

                  <label for="site_state" class="form-check-label"> Zensko</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12"><label class="labels">Email</label><input type="email" name = "imejl" class="form-control" placeholder="" value="" required [(ngModel)]="imejl"><div class="invalid-feedback">Unesite vas imejl</div></div>
          <div class="col-md-12"><label class="labels">Broj telefona</label><input type="text" name = "brojTelfona" class="form-control" placeholder="" value="" required [(ngModel)]="brojTelefona"><div class="invalid-feedback">Unesite vas broj telefona</div></div>
          <div class="col-md-12"><label class="labels">JMBG</label><input type="text" name="JMBG" class="form-control" placeholder="" value="" required [(ngModel)]="JMBG"><div class="invalid-feedback">Unesite vas JMBG</div></div>
          <div class="col-md-12"><label class="labels">Adresa</label><input type="text" name = "adresaStanovanja" class="form-control" placeholder="" value="" required [(ngModel)]="adresaStanovanja"><div class="invalid-feedback">Unesite vasu adresu stanovanja</div></div>
          <div class="col-md-12"><label class="labels">Mesto</label><input type="text" name="mestoStanovanja" class="form-control" placeholder="" value="" required [(ngModel)]="mestoStanovanja"><div class="invalid-feedback">Unesite vase mesto stanovanja</div></div>
          <div class="col-md-12"><label class="labels">
            Datum</label><input type="date" class="form-control" name = "datumRodjenja">
          </div>
          <div class="col-md-12"><label class="labels">Titula</label>
            <select name="titula" [(ngModel)]="titula" required class="form-select" aria-label="Default select example">
              <option selected>Odaberite titulu</option>
              <option value="1">Prof. dr. med</option>
              <option value="2">Dr med. spec.</option>
              <option value="3">Dr sci. med.</option>
              <option value="4">Dipl. farm.</option>
              <option value="5">Mag. farm.</option>
              <option value="6">Mr</option>
            </select>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6"><label class="labels">Odeljenje</label>
            <select  name="odeljenje" [(ngModel)]="odeljenje" name="odeljenje" required class="form-select" aria-label="Default select example">
              <option selected>Odaberite odeljenje</option>
              <option value="1">Prof. dr. med</option>
              <option value="2">Dr med. spec.</option>
              <option value="3">Dr sci. med.</option>
              <option value="4">Dipl. farm.</option>
              <option value="5">Mag. farm.</option>
              <option value="6">Mr</option>
            </select>
          </div>
          <div class="col-md-6"><label class="labels">Zanimanje</label>
            <select name="zanimanje" [(ngModel)]="zanimanje" name="zanimanje" required class="form-select" aria-label="Default select example">
              <option selected>Odaberite zanimanje</option>
              <option value="1">Med. sestra</option>
              <option value="2">Spec. biohemicar</option>
              <option value="3">Spec. gastroenterolog</option>
              <option value="4">Spec. ginekolog</option>
              <option value="5">Spec. endrokrinolog</option>
              <option value="6">Spec. kardiolog</option>
              <option value="7">Spec. neurolog</option>
              <option value="8">Spec. nefrolog</option>
              <option value="9">Spec. psihijatar</option>
              <option value="10">Spec. pulmolog</option>
              <option value="11">Spec. urolog</option>
              <option value="12">Spec. hematolog</option>
              <option value="13">Spec. hirurg</option>
            </select>
          </div>
        </div>
        <div class="mt-4 text-center">
          <button type="submit" class="btn btn-primary"><i class="bi bi-save me-1"></i> Napravi</button>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center experience"><h4>Privilegije</h4></div>
        <div class="items-collection">
          <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-12">
            <div class="info-block block-info clearfix">
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="ADMIN" autocomplete="off" value="" [(ngModel)]="ADMIN" name="ADMIN">
                    <span class="m-0 p-2">Admin</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="DR_SPEC_ODELJENJA" autocomplete="off" value="" [(ngModel)]="DR_SPEC_ODELJENJA" name="DR_SPEC_ODELJENJA">
                    <span class="m-0 p-2">Nacelink odeljenja</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="RECEPCIONER" autocomplete="off" value="" [(ngModel)]="RECEPCIONER" name="RECEPCIONER">
                    <span class="m-0 p-2">Recepcioner</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="DR_SPEC" autocomplete="off" value="" [(ngModel)]="DR_SPEC" name="DR_SPEC">
                    <span class="m-0 p-2">Doktor specijalista</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="DR_SPEC_POV" autocomplete="off" value="" [(ngModel)]="DR_SPEC_POV" name="DR_SPEC_POV" >
                    <span class="m-0 p-2">Doktor specijalista - poverljiv pristup</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">

                    <input type="checkbox" name="VISA_MED_SESTRA" autocomplete="off" value="" [(ngModel)]="VISA_MED_SESTRA" name="VISA_MED_SESTRA">
                    <span class="m-0 p-2">Visa medicinska sestra</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="MED_SESTRA" autocomplete="off" value="" [(ngModel)]="MED_SESTRA" name="MED_SESTRA">
                    <span class="m-0 p-2">Medicinska sestra</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="VISI_LABORATORIJSKI_TEHNICAR" autocomplete="off" value="" [(ngModel)]="VISI_LABORATORIJSKI_TEHNICAR" name="VISI_LABORATORIJSKI_TEHNICAR">
                    <span class="m-0 p-2">Visi laboratorijski tehnicar</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="LABORATORIJSKI_TEHNICAR" autocomplete="off" value="" [(ngModel)]="LABORATORIJSKI_TEHNICAR" name="LABORATORIJSKI_TEHNICAR">
                    <span class="m-0 p-2">Laboratorijski tehnicar</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="MEDICINSKI_BIOHEMICAR" autocomplete="off" value="" [(ngModel)]="MEDICINSKI_BIOHEMICAR" name="MEDICINSKI_BIOHEMICAR">
                    <span class="m-0 p-2">Medicinski biohemicar</span>
                  </div>
                </label>
              </div>
              <div data-toggle="buttons" class="btn-group bizmoduleselect">
                <label class="btn btn-outline-primary col-12 m-2">
                  <div class="itemcontent ms-auto text-start ps-2">
                    <input type="checkbox" name="SPECIJALISTA_MEDICINSKE_BIOHEMIJE" autocomplete="off" value="" [(ngModel)]="SPECIJALISTA_MEDICINSKE_BIOHEMIJE" name="SPECIJALISTA_MEDICINSKE_BIOHEMIJE">
                    <span class="m-0 p-2">Specijalista medicinske biohemije</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>

  <div *ngIf="errorMessage != ''">
    <label style="color: red"> {{ errorMessage }} </label>
  </div>

  <div *ngIf="successMessage != ''">
    <label style="color: green"> {{ successMessage }} </label>
  </div>

</div>
