<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <h2><b>Danasnji zakazani termini vakcinacija</b></h2>
      </div>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Satnica</th>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Datum rodjenja</th>
          <th>Status</th>
          <th> </th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-row">
        <tr *ngFor="let vaccine of scheduledVaccinationList" >

          <td>{{vaccine.dateAndTime | date:'shortTime'}}

          <td>{{vaccine.patient.name}}</td>
          <td>{{vaccine.patient.surname}}</td>
          <td>{{vaccine.patient.dateOfBirth}}</td>

          <td>
            <span class="badge" [ngClass]="getStatusClass(vaccine.arrivalStatus)">{{ vaccine.arrivalStatus }}</span>
          </td>

          <td ><button  *ngIf="vaccine.arrivalStatus.toString() === 'ZAKAZANO' ||
                        vaccine.arrivalStatus.toString() === 'TRENUTNO'"
                        (click)="startVaccination(vaccine)"
                       class="btn btn-primary" >Zapocni</button></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>


</body>
</html>

