<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <script src="/path/to/jquery.min.js"></script>
  <script src="/path/to/bootstrap.bundle.min.js"></script>


<link href="assets/img/favicon.png" rel="icon">
<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">


<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>

<body>
<div class="container">
  <div class="table-responsive">
    <div class="table-wrapper">

      <div style="padding-top: 20px">

        <form>
          <!---<select id="dropdown" name="dropdown" (change)="onOptionSelected($event.target.value)">-->

          <div class="row justify-content-center">
            <div class="col-md-8 border-right">
              <div class="p-3 py-5">

                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Kreiranje uputa</h4>
                </div>

                <div class="row justify-content-center mt-1">


                  <div class="col-md-4 py-3">

                    <label for="tip-uputa" class="text-center">Izaberite tip uputa:</label>
                    <select id="tip-uputa" name="tip-uputa" class="form-select"
                            aria-label="Default select example" [(ngModel)]="selectedOption" data-cy = "tip-uputa">
                      <option value="Izaberite tip uputa" selected>Izaberite tip uputa</option>
                      <option value="Laboratorija">Laboratorija</option>
                      <option value="Dijagnostika">Dijagnostika</option>
                      <option value="Stacionar">Stacionar</option>
                    </select>
                  </div>


                </div>



                <div *ngIf="selectedOption == 'Laboratorija'">

                  <div class="card basic">
                    <div class="card-body">
                      <div class="container">

                  <div class="row justify-content-center mt-1 mt-1">


                    <div class="col-md-4 ">
                      <label for="tip-uputa" >Zdravstvena ustanova:</label>
                      <select id="ustanova" name="ustanova" class="form-select"
                              aria-label="Default select example"  data-cy = "ustanova">
                        <option value="1">ustanova1</option>
                        <option value="2">ustanova2</option>
                        <option value="3">ustanova3</option>
                      </select>
                    </div>

                    <div class="col-md-4 ">
                      <label>Odaberite laboratorijske analize:</label>
                      <div *ngFor="let analysis of analysisSaBeka">
                        <input type="checkbox" id="{{ analysis }}" name="{{ analysis }}" value="{{ analysis }}" >
                        <label for="{{ analysis }}">{{ analysis }}</label>
                      </div>
                    </div>

                    <div class="col-md-8 ">
                      <label class="labels">Komentar</label>
                      <input name="comment"  type="text" class="form-control" id="comment" placeholder="Unesite opcioni komentar" value="">
                    </div>

                  </div>

                        </div>
                    </div>
                  </div>

                </div>

                <div *ngIf="selectedOption == 'Dijagnostika'">

                  <div class="card basic">
                    <div class="card-body">
                      <div class="container">

                        <div class="row justify-content-center mt-1 mt-1">


                          <div class="col-md-4 ">
                            <label for="ustanova2" >Zdravstvena ustanova:</label>
                            <select id="ustanova2" name="ustanova2" class="form-select"
                                    aria-label="Default select example"  data-cy = "ustanova2">
                              <option value="1">ustanova1</option>
                              <option value="2">ustanova2</option>
                              <option value="3">ustanova3</option>
                            </select>
                          </div>

                          <div class="col-md-4 ">
                            <label for="dijagnoza1" >Uputna dijagnoza:</label>
                            <select id="dijagnoza1" name="dijagnoza1" class="form-select"
                                    aria-label="Default select example"  data-cy = "dijagnoza1">
                              <option value="1">uputna dijagnoza</option>
                              <option value="2">uputna dijagnoza</option>
                              <option value="3">uputna dijagnoza</option>
                            </select>
                          </div>


                          <div class="col-md-8 ">
                            <label class="labels">Razlog upucivanja</label>
                            <input name="referralReason"  type="text" class="form-control" id="referralReason" placeholder="Unesite razlog uputa" value="">
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="selectedOption == 'Stacionar'">

                  <div class="card basic">
                    <div class="card-body">
                      <div class="container">

                        <div class="row justify-content-center mt-1 mt-1">


                          <div class="col-md-4 ">
                            <label for="ustanova3" >Zdravstvena ustanova:</label>
                            <select id="ustanova3" name="ustanova3" class="form-select"
                                    aria-label="Default select example"  data-cy = "ustanova3">
                              <option value="1">ustanova1</option>
                              <option value="2">ustanova2</option>
                              <option value="3">ustanova3</option>
                            </select>
                          </div>

                          <div class="col-md-4 ">
                            <label for="dijagnoza2" >Uputna dijagnoza:</label>
                            <select id="dijagnoza2" name="dijagnoza2" class="form-select"
                                    aria-label="Default select example"  data-cy = "dijagnoza2">
                              <option value="1">uputna dijagnoza</option>
                              <option value="2">uputna dijagnoza</option>
                              <option value="3">uputna dijagnoza</option>
                            </select>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="selectedOption =='Stacionar'|| selectedOption =='Laboratorija'|| selectedOption =='Dijagnostika' " class="d-flex justify-content-center align-items-center">
                  <div class="row mt-1 mt-1">
                    <div class="col-md-4">
                      <button  (click)="showPopup($event)" class="btn btn-primary" >Dodaj</button>
                    </div>
                  </div>
                </div>



          <!-- Za popup prozor -->

          <div class="popup-overlay" *ngIf="isPopupVisible">
            <div class="popup">
              <p>Zelite da potvrdite uput?</p>
              <div class="popup-buttons">
                <button (click)="confirmUput()">OK</button>
                <button (click)="hidePopup()">Cancel</button>
              </div>
            </div>
          </div>

              </div>
            </div>

          </div>
        </form>
      </div>



    </div>
  </div>
</div>


</body>





