
<div class="card">
  <div style="margin-top: 25px;" class="card-body">

    <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
      <h4 class="text-right">Kreiranje uputa</h4>
    </div>
    <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
      <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100 active" id="patient-tab" data-bs-toggle="tab"
          data-bs-target="#bordered-justified-patient" type="button" role="tab" aria-controls="patient"
          aria-selected="true" data-cy="patient-tab">Uput za laboratoriju</button>
      </li>
    </ul>
    <div class="tab-content pt-2" id="borderedTabJustifiedContent">
      <div class="tab-pane active show" id="bordered-justified-patient" role="tabpanel" aria-labelledby="patient-tab">
        <div class="row">

          <form [formGroup]="referralForm" class="mb-5 needs-validation" novalidate>
            <div class="card basic">
              <div class="card-body">
                <div class="container">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-6">
                          <label>Odaberite laboratorijske analize:</label>
                          <select [(ngModel)]="selectedAnalysis" [formControlName]="'analysis'" id="analysis" required
                            name="analysis" class="form-select" aria-label="Default select example" data-cy="analysis">
                            <option *ngFor="let item of analysisSaBeka" [value]="item.id">{{item.analysisName}}</option>
                          </select>
                        </div>
                        <div class="col-12 mt-3">
                          <button class="btn btn-outline-primary" (click)="getParams()">Dodaj parametre</button>
                        </div>
                        <div class="col-12 mt-3">
                          <label class="labels">Komentar</label>
                          <input name="comment" [formControlName]="'comment'" type="text" class="form-control"
                            id="comment" placeholder="Unesite opcioni komentar" value="">
                        </div>


                        <div class="col-6 mt-3">
                          <label for="department">Odeljenje na koje se upucuje:</label>
                          <select [(ngModel)]="selectedDepartment" id="department" name="department" class="form-select"
                            aria-label="Default select example" data-cy="department" required
                            (change)="onDepartmentSelected($event)">
                            <option *ngFor="let item of departments" [value]="item.name">{{item.name}}</option>
                          </select>
                        </div>

                        <div class="col-12 mt-3">
                          <button class="btn btn-outline-primary" (click)="getHospitalsByDepName()">Pretrazi
                            ustanove</button>
                        </div>

                        <div class="col-md-6">
                          <label>Zdravstvena ustanova u koju se upucuje:</label>
                          <div *ngFor="let h of hospitals">
                            <div class="form-check">
                              <input class="" type="checkbox" id="departmentToId" name="departmentToId"
                                (change)="onCheckboxChangeForHospital($event, h.id)"> &nbsp;
                              <label class="form-check-label" for="{{ h }}"> {{ h.hospitalName }}</label>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>

                    <div class="col-md-6">
                      <label>Odaberite parametre:</label>
                      <div *ngFor="let params of paramsList">
                        <div class="form-check">
                          <input class="" type="checkbox" id="{{ params.id }}"
                            name="{{ params.parameterName }}" (change)="onCheckboxChange($event, params.id)"> &nbsp;
                          <label class="form-check-label" for="{{ params }}"> {{ params.parameterName }}</label>
                        </div>
                      </div>
                    </div>



                  </div>


                  <div class="d-flex justify-content-center align-items-center">
                    <div class="row mt-3">
                      <div class="col-md-4">
                        <button type="submit" (click)="confirmUput()" class="btn btn-primary"
                          >Dodaj</button>

                      </div>
                    </div>
                  </div>

                  <div *ngIf="errorMessage.length != 0" class="mt-4 text-center">
                    <label style="color: red"> Neuspeh: {{ errorMessage }} </label>
                  </div>

                  <div *ngIf="successMessage.length != 0" class="mt-4 text-center">
                    <label style="color: green"> {{ successMessage }} </label>
                  </div>


                </div>
              </div>
            </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</div>