<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords"> <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <h2><b>Trenutni kovid pregledi</b></h2>
                </div>
                <table class="table table-hover table-fixed">
                    <thead>
                        <tr>
                            <th>LBP</th>
                            <th>Tip pregleda</th>
                            <th>Status</th>
                            <th>Započni pregled</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <!-- TODO -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>