<div class="container rounded bg-white mt-5 mb-5">
 <div class="row justify-content-center">
   <div class="col-md-8 border-right">
     <div class="p-3 py-5">

       <div class="d-flex justify-content-between align-items-center mb-3">
         <h1>Statistika</h1>
       </div>

       <div class="d-flex justify-content-between align-items-center mb-3">
         <h4>Dnevni izveštaj: {{todayDate |  date: 'dd.MM.yyyy.' }}</h4>
       </div>

       <div class="row">
         <div class="col-md-12">
           <p>Broj testiranih: {{numberOfTestedPatients}}</p>
         </div>
       </div>
       <div class="row mt-1">
         <div class="col-md-12">
           <p>Broj hospitalizovanih: {{numberOfHospitalizedPatients}}</p>
         </div>
       </div>
       <div class="row mt-1">
         <div class="col-md-12">
           <p>Broj pozitivnih: {{numberOfPositivePatients}}</p>
         </div>
       </div>

       <div class="row">
         <div class="col-md-12">
           <p>Broj izlečenih: {{numberOfCuredPatients}}</p>
         </div>
       </div>
       <div class="row mt-1">
         <div class="col-md-12">
           <p>Broj na respiratoru: {{numberOfPatientsOnRespirator}} </p>
         </div>
       </div>
       <div class="row mt-1">
         <div class="col-md-12">
           <p>Broj umrlih: {{numberOfDeadPatients}}</p>
         </div>
       </div>


      </div>
   </div>
 </div>
</div>
