<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <meta content="width=device-width, initial-scale=1.0" name="viewport">-->

<!--  <meta content="" name="description">-->
<!--  <meta content="" name="keywords">-->

<!--  &lt;!&ndash; Google Fonts &ndash;&gt;-->
<!--  <link href="https://fonts.gstatic.com" rel="preconnect">-->
<!--  <link-->
<!--    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"-->
<!--    rel="stylesheet">-->
<!--</head>-->


<!--<body>-->
<!--<div class="container">-->
<!--  <div class="table-responsive">-->
<!--    <div class="table-wrapper">-->
<!--      <div class="table-title">-->
<!--        <h2><b>Radni nalog </b> <label>Datum </label></h2>-->
<!--        &lt;!&ndash;- za label treba namestiti danasnji datum u .ts-->
<!--        <label>{{ currentDate | date: 'fullDate' }}</label>-->
<!--        <app-root></app-root>-->
<!--        &ndash;&gt;-->
<!--      </div>-->


<!--        <table class="table table-hover" style="margin-top: 30px">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            <th>Naziv analize</th>-->
<!--            <th>ID parametra</th>-->
<!--            <th>Naziv parametra</th>-->
<!--            <th>Jedinica mere</th>-->
<!--            <th>Donja granica</th>-->
<!--            <th>Gornja granica</th>-->
<!--            <th>Lekar</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            &lt;!&ndash;- lista koja se uzima iz baze &ndash;&gt;-->
<!--            <td>Ime</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->

<!--      <div>-->
<!--        <button class="btn btn-primary">Verifikacija</button>-->
<!--      </div>-->

<!--      <div class="d-flex align-items-center justify-content-center h-100">-->
<!--        <pagination-controls previousLabel="Pret" nextLabel="Sled" (pageChange)="onTableDataChange($event)">-->
<!--        </pagination-controls>-->
<!--      </div>-->


<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--</body>-->
